/* game.css */

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

.imageGameContainer,
.combineGameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f8ff;
}

.imageDiv,
.combineDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.imageDiv h2,
.combineDiv h2 {
  margin: 0;
  color: #333;
}

.imageDiv img {
  max-width: 100%;
  height: auto;
  border: 2px solid #a0cbe7;
  border-radius: 8px;
  margin-bottom: 10px;
}

button,
.imageDiv button,
.combineDiv button,
.canvasContainer button,
.typingContainer button {
  background-color: #a0cbe7;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
}

button:hover,
.imageDiv button:hover,
.combineDiv button:hover,
.canvasContainer button:hover,
.typingContainer button:hover {
  background-color: #8cb4d6;
}

button:disabled,
.imageDiv button:disabled,
.combineDiv button:disabled,
.canvasContainer button:disabled,
.typingContainer button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.roundDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.roundDiv h2 {
  margin: 0;
  color: #333;
}

.roundDiv button {
  background-color: #a0cbe7;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.roundDiv button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.combineDiv span {
  font-size: 40px;
  font-weight: bold;
}

.textQuizDiv {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.canvasContainer button {
  background-color: #a0cbe7;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
}

.canvasContainer button:hover {
  background-color: #8cb4d6;
}

.canvasButtonDiv {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.typingContainer {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-left: 5px;
}

.typingContainer input {
  width: 370px;
  height: 28px;
  margin-right: 10px;
}

.typingContainer button {
  background-color: #a0cbe7;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
}

.typingContainer button:hover {
  background-color: #8cb4d6;
}

h1,
h2 {
  color: #333;
}

@media (max-width: 768px) {
  .roundDiv {
    flex-direction: column;
    align-items: center;
  }

  .roundDiv button {
    margin-top: 10px;
  }
}
