/* game.css */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.imageGameContainer,
.combineGameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  padding: 50px;
  background-color: #a0cbe7;
}

.imageDiv,
.combineDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 20px;
  background-color: white;
}

.imageDiv h2,
.combineDiv h2 {
  margin: 0;
  color: #333;
}

.imageDiv img {
  max-width: 70%;
  height: auto;
  border: 3px solid rgb(146, 146, 146);
  border-radius: 8px;
  margin: 0px 0px 10px 135px;
  padding: 30px 150px 30px 150px;
}

.textQuizDiv img {
  max-width: 60%;
  height: auto;
  margin: 0px 0px 0px 115px;
}

button,
.imageDiv button,
.combineDiv button,
.canvasContainer button,
.typingContainer button {
  background-color: #a0cbe7;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
}

button:hover,
.imageDiv button:hover,
.combineDiv button:hover,
.canvasContainer button:hover,
.typingContainer button:hover {
  background-color: #8cb4d6;
}

button:disabled,
.imageDiv button:disabled,
.combineDiv button:disabled,
.canvasContainer button:disabled,
.typingContainer button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1100px;
  background-color: white;
  border-radius: 10px;
}

.gameContainer div {
  background-color: white;
}

.gameDescription_1 {
  font-size: 1.2em;
  color: #666;
  margin: 20px 0px 20px 210px;
}
.gameDescription_2 {
  font-size: 1.2em;
  color: #666;
  margin: 20px 0px 20px 230px;
}

.levelContainer {
  padding: 50px 100px 50px 100px;
  margin-top: 10px;
}

.levelContainer h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.levelBtn {
  margin-left: 50px;
  margin-bottom: 20px;
}
.levelBtn button {
  color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  font-size: 30px;
  font-weight: 500;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: a0cbe7;
}
.levelBtn button:hover {
  border-radius: 20px;
}
.levelBtn div {
  background-color: white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}
.levelBtn img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

.roundDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.roundDiv h2 {
  text-align: left;
  margin: auto;
}

.roundDiv button {
  background-color: #a0cbe7;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.roundDiv button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.combineDiv span {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.textQuizDiv {
  border: 3px solid rgb(146, 146, 146);
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

.canvasContainer {
  width: 100%;
  margin: auto;
}

.canvasContainer button {
  background-color: #a0cbe7;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
}

.canvasContainer button:hover {
  background-color: #8cb4d6;
}

.canvasButtonDiv {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.canvasButtonDiv h3,
.typingContainer h3 {
  border: 3px solid rgb(146, 146, 146);
  border-radius: 20px;
  padding: 10px 80px 10px 80px;
}

.typingContainer {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-left: 5px;
}

.typingContainer input {
  border: 2px solid rgb(114, 112, 112);
  border-radius: 10px;
  width: 420px;
  padding: 9px;
  margin: 10px 10px 0px 0px;
}

.typingContainer button,
.canvasButtonDiv button {
  background-color: #a0cbe7;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  margin: 5px;
}

.typingContainer button:hover {
  background-color: #8cb4d6;
}

.gameoverDiv div {
  margin: 30px 0px 0px 0px;
  text-align: center;
}
.gameoverDiv h1 {
  text-align: center;
  font-size: 50px;
}
.gameoverTextDiv {
  border: 3px solid rgb(146, 146, 146);
  border-radius: 20px;
  padding: 10px 100px 10px 100px;
  margin: 50px 0px 50px 0px;
  text-align: center;
}

.ruleDiv {
  background-color: #f9f9f9;
  padding: 25px 80px 10px 80px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 3px solid #a0cbe7;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .roundDiv,
  .imageDiv img,
  .canvasContainer {
    width: 95%; /* 컨테이너 너비를 화면에 맞게 조정 */
    max-width: none; /* 최대 너비 제한 해제 */
  }

  .roundDiv h2,
  .imageDiv h2,
  .combineDiv h2 {
    font-size: 16px; /* 텍스트 크기 조정 */
  }

  .typingContainer input {
    width: 90%; /* 입력 필드 너비 조정 */
  }

  button,
  .imageDiv button,
  .combineDiv button,
  .canvasContainer button,
  .typingContainer button {
    padding: 8px 16px; /* 버튼 크기 조정 */
    font-size: 14px; /* 버튼 내 텍스트 크기 조정 */
  }
}

@media (max-width: 480px) {
  .combineDiv span {
    font-size: 24px; /* 더 작은 화면에서는 span의 폰트 크기 줄임 */
  }
}
