/* introduce.css */
.introduce {
  text-align: center;
  margin: 20px;
  margin: 0;
}
.introduceBg {
  background-color: #fcf9f2;
}

.introduceDiv {
  border: 10px double #fcf9f2;
  width: 80%;
  margin-left: 160px;
  padding-bottom: 50px;
  background-color: white;
  border-radius: 20px;
}

.introduceDiv-Final {
  width: 80%;
  margin-left: 160px;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: white;
  border: 10px double #fcf9f2;
  border-radius: 20px;
}
.teamIntroduce {
  text-align: center;
  background-color: #fcf9f2;
  display: flex; /* 페이지 전체에 Flexbox 적용 */
  justify-content: center; /* 가로 방향 가운데 정렬 */
  align-items: center; /* 세로 방향 가운데 정렬 */
  padding-top: 20px;
  padding-bottom: 20px;
}
.teamIntroduceDiv {
  background-color: white;
  width: 80%;
  border-radius: 20px;
  border: 10px double #fcf9f2;
  padding-bottom: 50px;
  margin: 30px 0px 30px 30px;
}
.teamIntroduce h1 {
  margin-bottom: 30px;
  padding-top: 50px;
  font-weight: bold;
}

.team-members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-member {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.introduceDiv h1 {
  margin-bottom: 50px;
  padding-top: 50px;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 30px;
}
.introduceDiv-Final h1 {
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 30px;
}

.team-member h2 {
  margin: 0;
  font-size: 1.7em;
  font-weight: bold;
}

.team-member h5 {
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
  margin-top: 25px;
}

.site-introduce {
  font-size: 22px;
  line-height: 1.6;
  margin: 20px auto;
  padding: 25px 15px 15px 15px;
  background-color: white;
  border: 10px double #f3f3f3;
  border-radius: 20px;
  max-width: 900px;
  font-weight: 500;
  font-style: italic;
}

.icon-container {
  cursor: pointer; /* 포인터 커서 표시 */
  display: flex; /* 플렉스박스로 설정 */
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  font-size: 24px; /* 아이콘 크기 조정 */
  margin-bottom: 10px; /* 아래 여백 */
}

.icon {
  font-size: 24px; /* 아이콘 크기 조정 */
}

.team-member-photo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.imgDiv img {
  height: 450px;
}

.tech-icon {
  width: 100px; /* 원하는 너비 */
  height: auto; /* 비율에 맞게 높이 자동 조절 */
  margin: 10px; /* 이미지 간 간격 */
}

.team-member-photo {
  width: 100px; /* 팀원 사진 너비 */
  height: auto; /* 비율에 맞게 높이 자동 조절 */
}

.progrom-img {
  width: 900px;
}
.team-member p {
  line-height: 10px;
  font-weight: 400;
  font-style: italic;
}
