/* Nav.css */

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
/* https://github.com/orioncactus/pretendard */

html {
  overflow-y: scroll; /* 항상 세로 스크롤바를 보이게 함 */
}

.navbar {
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: space-between; /* 요소들을 양 끝과 중앙으로 분리 */
  width: 100%;
  background-color: #a0cbe7;
  padding: 2% 20px;
  box-sizing: border-box;
}

.logo {
  width: 50px;
  height: 50px;
  margin-left: 30px;
}

.menuContainer,
.authContainer {
  display: flex;
  align-items: center;
}

.menuContainer {
  justify-content: center; /* 중앙 정렬 */
}

.authContainer {
  justify-content: flex-end; /* 오른쪽 정렬 */
}

.navbarMenu {
  color: white;
  margin: 0 8px; /* 좌우 여백 */
  font-size: 20px;
  text-decoration: none;
  position: relative; /* 드롭다운을 위한 상대 위치 */
}

.navbarMenu:hover {
  background-color: #8cb4d6;
}

.navbarAuth {
  color: white;
  margin: 0 30px 0 20px;
  font-size: 20px;
  text-decoration: none;
}

.navbarAuth:hover {
  background-color: #8cb4d6;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #92b2c6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  font-size: 18px;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

.dropdown-content a:hover {
  background-color: #7b95a5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* 반응형 디자인 추가 */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    margin: 0 0 10px 30px;
  }

  .menuContainer,
  .authContainer {
    width: 100%;
    justify-content: space-between;
    padding: 10px 30px;
  }

  .navbarMenu,
  .navbarAuth {
    font-size: 18px;
    margin: 10px 0;
  }

  .dropdown-content {
    position: static;
    box-shadow: none;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 5% 0;
  }

  .logo {
    width: 40px;
    height: 40px;
    margin-left: 20px;
  }

  .menuContainer,
  .authContainer {
    padding: 10px 20px;
  }

  .navbarMenu,
  .navbarAuth {
    font-size: 16px;
    margin: 8px 0;
  }
}
