.notebookContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  background-color: #f0f4f9;
  padding: 50px;
}

.notebookDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1100px;
  background-color: white;
  border-radius: 10px;
  margin-left: 50px;
}

.notebookTitle {
  margin-top: 50px;
  font-size: 30px;
  margin-bottom: 20px; /* 하단 마진만 남기고 좌우 정렬 제거 */
  font-weight: bold;
}

.notebookDescription {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #666;
}

.canvasWrapper {
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 50px;
  width: 110%;
}
