/* register.css */

.userContainer {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.userContainer h1 {
  text-align: center;
  color: #333;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* 중앙 정렬 */
}

form > div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type='text'],
input[type='password'],
input[type='email'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #d1ebfc;
  color: #333;
  font-size: 16px;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus {
  border-color: #80a5c8;
  outline: none;
}

h4 {
  color: red;
  font-size: 14px;
  margin: 5px 0 0 0;
}

.submitBtn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #5a9bd4;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: #4a8ac2;
}

p {
  text-align: center;
  color: #5a9bd4;
  cursor: pointer;
  margin-top: 15px;
}

p:hover {
  text-decoration: underline;
}

.findDiv {
  display: flex;
  justify-content: center; /* 버튼들이 균등하게 배치되도록 설정 */
  margin-top: 20px;
  width: 100%; /* 부모 요소의 너비를 100%로 설정 */
}

.findBtn,
.findBtn2 {
  flex-grow: 1; /* 버튼이 균등하게 배치되도록 설정 */
  padding: 10px 0; /* 상하 패딩 조정, 좌우 패딩은 제거 */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4a8ac2;
  color: white;
  text-align: center;
}

.findBtn:hover,
.findBtn2:hover {
  background-color: #5a9bd4;
}
