/*로그인(Login.js)*/
.LoginPage {
  background-color: #f0f4f9;
  display: flex; /* 페이지 전체에 Flexbox 적용 */
  justify-content: center; /* 가로 방향 가운데 정렬 */
  align-items: center; /* 세로 방향 가운데 정렬 */
  height: 117vh;
}
.LoginContainer {
  background-color: white;
  padding: 100px 40px; /* 좌우 패딩을 동일하게 설정 */
  border-radius: 20px;
  width: 900px; /* 너비를 조정하여 중앙 정렬에 맞추기 */
  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 수직으로 정렬 */
  align-items: center; /* 내부 요소 가운데 정렬 */
  border: 1px solid #eee;
  border: 10px double #f0f4f9;
}
.LoginTitle {
  font-size: 30px;
  margin-bottom: 20px; /* 하단 마진만 남기고 좌우 정렬 제거 */
  font-weight: bold;
  letter-spacing: 5px;
}
.LoginSubTitle {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px; /* 하단 마진 추가 */
}
.LoginContainer input {
  display: block;
  width: 415px;
  padding: 15px;
  margin: 10px 0px; /* 입력 필드 간격 조정 */
  border: none;
  background-color: #f0f4f3;
  color: #333;
  font-size: 18px;
}
.LoginSubmitBtn {
  width: 415px;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  background-color: #a0cbe7;
  color: white;
  cursor: pointer;
  padding: 15px;
  margin-top: 25px; /* 상단 마진 조정 */
}
.LoginSpanDiv {
  margin-top: 30px; /* 상단 마진 조정 */
  display: flex;
  justify-content: center; /* 가로 가운데 정렬 */
}
.LoginSpan {
  text-align: center;
  cursor: pointer;
  border-bottom: 1px dashed black;
  font-size: 17px;
  margin: 0 10px; /* 좌우 간격 조정 */
}
.LoginContainer p {
  text-align: center;
  margin-top: 30px; /* 상단 마진 조정 */
  cursor: pointer;
  border-bottom: 1px dashed black;
  font-size: 17px;
}
.LoginContainer h4 {
  color: red;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
}

/*회원가입(Register.js)*/
.RegisterPage {
  background-color: #f0f4f9;
  display: flex; /* Flexbox 적용 */
  justify-content: center; /* 가로 방향 가운데 정렬 */
  align-items: center; /* 세로 방향 가운데 정렬 */
  height: 172vh;
}
.RegisterContainer {
  background-color: white;
  padding: 100px 40px; /* 좌우 padding을 동일하게 조정 */
  border-radius: 20px;
  width: 900px; /* 너비 조정 */
  display: flex; /* Flexbox 적용 */
  flex-direction: column; /* 수직 정렬 */
  align-items: center; /* 내부 요소 가운데 정렬 */
  border: 1px solid #eee;
  border: 10px double #f0f4f9;
}
.RegisterTitle {
  font-size: 30px;
  margin-bottom: 20px; /* 하단 마진 추가 */
  font-weight: bold;
  letter-spacing: 5px;
}
.RegisterSubTitle {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px; /* 하단 마진 추가 */
}
.RegisterLongInput {
  display: block;
  width: 415px;
  padding: 15px;
  margin-top: 25px;
  border: none;
  background-color: #f0f4f3;
  color: #333;
  font-size: 18px;
}
.RegisterShortInput_1 {
  display: block;
  width: 310px;
  padding: 15px;
  border: none;
  background-color: #f0f4f3;
  color: #333;
  font-size: 18px;
}
.RegisterShortInput_2 {
  display: block;
  width: 310px;
  padding: 15px;
  margin-top: 5px;
  border: none;
  background-color: #f0f4f3;
  color: #333;
  font-size: 18px;
}
.RegisterCheckUser {
  display: flex;
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center;
  margin-right: 5px;
}
.RegisterAuthBtn_1 {
  width: 100px;
  padding: 16px 10px;
  border: none;
  border-radius: 50px;
  background-color: #a0cbe7;
  color: white;
  font-size: 20px;
}
.RegisterAuthBtn_2 {
  width: 100px;
  padding: 16px 10px;
  border: none;
  border-radius: 50px;
  background-color: #a0cbe7;
  color: white;
  font-size: 20px;
  margin-top: 5px;
}
.RegisterSubmitBtn {
  width: 415px;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  background-color: #a0cbe7;
  color: white;
  cursor: pointer;
  padding: 15px;
  margin-top: 25px;
}
.RegisterContainer p {
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
  border-bottom: 1px dashed black;
  width: 100px;
  font-size: 17px;
}
.RegisterTimer {
  font-weight: bold;
  margin-top: 10px;
}
.RegisterContainer h4 {
  color: red;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 0px;
}
.RegisterGender {
  display: block;
  width: 415px;
  padding: 15px;
  margin-top: 25px;
  margin-bottom: 40px;
  border: none;
  background-color: #f0f4f3;
  color: #333;
  font-size: 18px;
}

/*ID 찾기, ID 확인(IdFind.js, IdCheck.js)*/
.idFindPage {
  background-color: #f0f4f9;
  display: flex; /* Flexbox 적용 */
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  height: 110vh;
}
.idFindContainer {
  background-color: white;
  padding: 150px 40px; /* padding 조정 */
  border-radius: 20px; /* 둥근 모서리 적용 */
  width: 900px; /* 너비 조정 */
  display: flex; /* Flexbox 적용 */
  flex-direction: column; /* 내부 요소 수직 정렬 */
  align-items: center; /* 내부 요소 수평 중앙 정렬 */
  border: 1px solid #eee;
  border: 10px double #f0f4f9;
}
.idFindTitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
}
.idFindSubTitle {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px; /* 하단 마진 추가 */
}
.idCheckInput {
  display: block;
  width: 410px;
  padding: 15px;
  margin-top: 30px;
  border: none;
  background-color: #f0f4f3;
  color: #333;
  font-size: 18px;
}
.idFindContainer h4 {
  color: red;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}
.idFindBtn {
  width: 410px;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  background-color: #a0cbe7;
  color: white;
  cursor: pointer;
  padding: 15px;
  margin-top: 25px;
}
.idFindContainer p {
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
  border-bottom: 1px dashed black;
  width: 100px;
  font-size: 17px;
  margin-left: 160px;
}

.idCheckContainer {
  background-color: white;
  padding: 60px 40px;
  border-radius: 20px;
  width: 800px;
  display: flex; /* Flexbox 적용 */
  flex-direction: column; /* 내부 요소 수직 정렬 */
  align-items: center; /* 내부 요소 수평 중앙 정렬 */
}
.idCheckTitle {
  text-align: center;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
}
.idCheckSubTitle {
  font-size: 30px;
  text-align: center; /* 중앙 정렬 */
  margin-bottom: 20px; /* 하단 마진 추가 */
}
.idCheckSubTitle span {
  color: orange;
  font-weight: bold;
}
.idCheckBtn {
  width: 415px;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  background-color: #a0cbe7;
  color: white;
  cursor: pointer;
  padding: 15px;
  margin-top: 30px;
}

/*비밀번호 찾기(PwdFind.js)*/
.pwdFindPage {
  background-color: #f0f4f9;
  display: flex; /* Flexbox 적용 */
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  height: 108vh;
}
.pwdFindContainer {
  background-color: white;
  padding: 100px 40px; /* 좌우 패딩을 동일하게 설정 */
  border-radius: 20px; /* 둥근 모서리 */
  width: 900px; /* 너비 조정 */
  display: flex; /* Flexbox 적용 */
  flex-direction: column; /* 수직 정렬 */
  align-items: center; /* 내부 요소 수평 가운데 정렬 */
  border: 1px solid #eee;
  border: 10px double #f0f4f9;
}
.pwdFindTitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
}
.pwdFindSubTitle {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}
.pwdCheckInput {
  width: 415px;
  padding: 15px;
  margin-top: 10px;
  border: none;
  background-color: #f0f4f3;
  color: #333;
  font-size: 18px;
}
.pwdFindBtn {
  width: 415px;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  background-color: #a0cbe7;
  color: white;
  cursor: pointer;
  padding: 15px;
  margin-top: 25px;
}
.pwdFindContainer p {
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
  border-bottom: 1px dashed black;
  width: 100px;
  font-size: 17px;
  margin-left: 160px;
}
.pwdFindContainer h4 {
  color: red;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  height: 20px;
}

/*비밀번호 변경(PwdChange.js)*/
.pwdChangeContainer {
  background-color: white;
  border-radius: 10px;
  display: flex; /* Flexbox 적용 */
  flex-direction: column; /* 수직 정렬 */
  align-items: center; /* 수평 중앙 정렬 */
}
.pwdChangeTitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
}
.pwdChangeSubTitle {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}
.pwdChangeInput {
  width: 415px;
  padding: 15px;
  margin-top: 10px;
  border: none;
  background-color: #f0f4f3;
  color: #333;
  font-size: 18px;
}
.pwdChangeBtn {
  width: 415px;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  background-color: #a0cbe7;
  color: white;
  cursor: pointer;
  padding: 15px;
  margin-top: 25px;
}
.pwdChangeContainer h4 {
  color: red;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  height: 20px;
}

/*인증코드 입력(authInput.js)*/
.authInputContainer input {
  display: block;
  width: 415px;
  padding: 15px 15px 15px 15px;
  margin: 25px 0px 0px 0px;
  border: 0px solid white;
  background-color: #f0f4f3;
  color: #333;
  font-size: 18px;
}
.authInputContainer label {
  font-weight: bold;
  margin-top: 20px;
}
.authSubmitBtn {
  width: 415px;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  background-color: #a0cbe7;
  color: white;
  cursor: pointer;
  padding: 15px 15px 15px 15px;
  margin: 25px 0px 0px 0px;
}

/*공용*/
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
.RegisterContainer input:focus {
  border-color: #80a5c8;
  outline: none;
}
