/*회원가입*/
.userContainer {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  width: 600px;
  margin: 20px 0px 20px 490px;
  border: 2px solid #a0cbe7;
}

.userTitle {
  font-size: 40px;
}

.longInput {
  display: block;
  width: 415px;
  padding: 15px 15px 15px 15px;
  margin: 25px 0px 0px 45px;
  border: 0px solid white;
  background-color: #f0f4f3;
  color: #333;
  font-size: 18px;
}
.shortInput {
  display: block;
  width: 300px;
  padding: 15px 15px 15px 15px;
  margin: 25px 0px 0px 0px;
  border: 0px solid white;
  background-color: #f0f4f3;
  color: #333;
  font-size: 18px;
}
.userContainer h4 {
  color: red;
  height: 15px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 50px;
}

.registerTimer {
  font-weight: bold;
  margin-left: 50px;
}

.checkUser {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.checkUser input {
  margin-right: 10px; /* 원하는 간격으로 조정 */
}

.authBtn {
  width: 100px;
  padding: 16px 10px 16px 10px;
  border: none;
  border-radius: 50px;
  background-color: #a0cbe7;
  color: white;
  margin-top: 30px;
}

.authBtn:hover {
  background-color: #225f94;
}

.submitBtn {
  width: 415px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  background-color: #a0cbe7;
  color: white;
  cursor: pointer;
  padding: 15px 15px 15px 15px;
  margin: 25px 0px 0px 45px;
}

.submitBtn:hover {
  background-color: #225f94;
}

/*ID 찾기*/

.findContainer {
  background-color: white;
  padding: 150px 40px 150px 40px;
  border-radius: 20px;
  width: 600px;
  margin: 20px 0px 20px 490px;
  border: 2px solid #a0cbe7;
}

.checkInput {
  display: block;
  width: 300px;
  padding: 15px 15px 15px 15px;
  margin: 25px 0px 0px 100px;
  border: 0px solid white;
  background-color: #f0f4f3;
  color: #333;
  font-size: 18px;
}

.findContainer h4 {
  color: red;
  height: 15px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.findContainer label {
  font-weight: bold;
  font-size: 17px;
  display: block;
  color: #333;
  margin-top: 30px;
  text-align: center;
}
.findContainer input {
  display: block;
  width: 300px;
  padding: 15px 15px 15px 15px;
  margin: 25px 0px 0px 100px;
  border: 0px solid white;
  background-color: #f0f4f3;
  color: #333;
  font-size: 18px;
}
.findIDBtn {
  width: 300px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  background-color: #a0cbe7;
  color: white;
  cursor: pointer;
  padding: 15px 15px 15px 15px;
  margin: 25px 0px 0px 100px;
}
.checkBtn {
  width: 200px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  background-color: #a0cbe7;
  color: white;
  cursor: pointer;
  padding: 15px 15px 15px 15px;
  margin: 25px 0px 0px 160px;
}

/*인증코드 입력(authInput)*/

.authSubmitBtn {
  width: 300px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  background-color: #a0cbe7;
  color: white;
  cursor: pointer;
  padding: 15px 15px 15px 15px;
  margin: 25px 0px 0px 100px;
}

/*혼합*/

.userContainer h1,
.userContainer h2,
.userContainer h3,
.findContainer h1 {
  text-align: center;
  color: #333;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
.userContainer input:focus {
  border-color: #80a5c8;
  outline: none;
}

.userContainer p,
.findContainer p {
  text-align: center;
  margin: 30px 0px 0px 230px;
  cursor: pointer;
  border-bottom: 1px dashed black;
  width: 50px;
  font-size: 17px;
}

.findDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.findBtn,
.findBtn2 {
  flex-grow: 1;
  padding: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #5a9bd4;
  color: white;
  text-align: center;
  font-weight: bold;
  width: auto; /* 70%에서 auto로 변경하여 플렉스 박스에 맞게 조정 */
}

.findBtn2 {
  margin-left: 30px;
}

.findBtn:hover,
.findBtn2:hover {
  background-color: #225f94;
}

.timer {
  margin-left: 320px;
  color: red;
}
